# openAI API Key
OpenAI-Keys.plist

# Xcode
*.xcuserdata
*.xcuserstate
*.xcscmblueprint
*.moved-aside
*.xcuserdatad

# Build artifacts
DerivedData/
build/
*.ipa

# SwiftPM
.swiftpm/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/

# Firebase
GoogleService-Info.plist

# IDE config
.idea/
*.xcworkspace/xcshareddata/

# Logs
*.log

#.DS_Store
.DS_Store
